@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

html {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  background-color: black;
  color: #e8e8e8e4;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow-x: hidden;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#lock {
  display: none;
}
.landscape-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#landscape-starklogo {
  height: 3rem;
  width: 12rem;
}
.landscape-header {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
}
.landscape-sub {
  font-style: normal;
}

@media screen and (min-width: 320px) and (max-width: 796px) and (orientation: landscape) {
  #lock {
    display: block;
  }
  #html-container {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 812px) and (orientation: portait) {
  #lock {
    display: none;
  }
  #html-container {
    display: block;
  }
}

@media screen and (max-height: 412px) and (orientation: landscape) {
  #lock {
    display: block;
  }
  #html-container {
    display: none;
  }
}
