@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

.all-products-container {
  background-color: rgba(0, 0, 0, 0.249);
  margin-top: 10vh;
  height: 90vh;
}

.products-container {
  height: 100%;
  width: 100%;
}

.product-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 20rem;
  margin-right: 0;
}
.product-img {
  width: 70%;
  height: 70%;
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent), to(black));
}
.swiper-container.swiper-container-coverflow.swiper-container-3d.swiper-container-initialized.swiper-container-horizontal.swiper-container-pointer-events {
  height: 100%;
}
.swiper-slide.swiper-slide-active {
  height: 100%;
  width: 100%;
}
.product-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.product-name .product-price {
  margin: 0 auto;
  padding: 0 1rem 0 1rem;
}
.product-name {
  font-size: 3.5rem;
  background: -webkit-linear-gradient(rgb(247, 199, 0), rgba(179, 0, 0, 0.619));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Bebas Neue', cursive;
}

.product-price {
  font-size: 1.5rem;
  color: rgb(220, 220, 220);
  font-family: 'Bebas Neue', cursive;
  z-index: 10;
  letter-spacing: 0.3rem;
}

.swiper-pagination .swiper-pagination-bullet {
  --swiper-theme-color: rgb(220, 220, 220);
  color: rgb(220, 220, 220);
  background: rgb(220, 220, 220);
  background-color: rgb(220, 220, 220);
  opacity: 1;
}

.swiper-pagination {
  margin-bottom: 4rem;
}

@media (max-width: 1350px) {
  .product-img {
    width: 72%;
    height: 65%;
  }
}

@media (max-width: 1125px) {
  .product-container {
    margin-top: 2rem;
  }
  .product-img {
    width: 75%;
    height: 62%;
  }
}
@media (max-width: 1024px) {
  .product-img {
    width: 70%;
    height: 63%;
  }
}
@media (max-width: 850px) {
  .product-img {
    height: 60%;
  }
}
@media (max-width: 1024px) and (min-height: 1366px) {
  .all-products-container {
    height: 90vh;
  }
  .products-container {
    display: flex;
    align-items: center;
  }
  .product-container {
    height: 90%;
    margin-top: 1.5rem;
  }
  .swiper-container {
    height: 100%;
  }
  .product-img {
    width: unset;
    height: 75%;
  }
  .swiper-pagination {
    margin-bottom: 10rem;
  }
}

@media (max-width: 768px) {
  .all-products-container {
    height: 90vh;
  }
  .products-container {
    display: flex;
    align-items: center;
  }
  .product-container {
    height: 90%;
    margin-top: 1.5rem;
  }
  .swiper-container {
    height: 100%;
  }
  .product-img {
    width: unset;
    height: 75%;
  }
  .swiper-pagination {
    margin-bottom: 5rem;
  }
}

@media (max-width: 540px) {
  .product-container {
    height: 75%;
  }
}

@media (max-width: 414px) {
  .all-products-container {
    height: 85vh;
    margin-top: 0;
    overflow-y: hidden;
  }
  .product-container {
    margin-top: 7rem;
  }
  .swiper-pagination {
    margin-bottom: 2rem;
  }
  .product-price {
    font-size: 2rem;
    color: rgb(216, 139, 31);
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 375px) {
  .product-img {
    height: 70%;
  }
  .swiper-pagination {
    margin-bottom: 1rem;
  }
}
@media (max-width: 325px) {
  .products-container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .product-container {
    height: 100%;
    margin-top: 4rem;
  }
  .product-img {
    width: 40%;
    height: 50%;
  }
  .swiper-pagination {
    margin-bottom: 3rem;
  }
}

@media (max-width: 280px) {
  .product-img {
    width: 50%;
  }
}
