#hex-main-container {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 5;
  transition: 1s;
}

.hex-container,
.hex-menu {
  height: 7rem;
  width: 8rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  opacity: 0.6;
}
.hex-menu {
  z-index: -1;
  transform: scale(0.9);
}

.hex-items {
  height: 0;
  width: 4rem;
  border-bottom: 3.5rem solid rgba(50, 190, 255, 0.7);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  position: absolute;
  top: 0;
  z-index: 3;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}
.hex-items:before {
  content: '';
  height: 0;
  width: 4rem;
  border-top: 3.5rem solid rgba(50, 190, 255, 0.7);
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  position: absolute;
  top: 3.5rem;
  left: -2rem;
  z-index: 3;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}

.hex-link {
  position: relative;
  top: 4rem;
  left: 1rem;
}

#hex-icon {
  color: #ffffff;
  font-size: 5rem;
  position: relative;
  top: 0.25rem;
  right: -1.5rem;
  z-index: 10;
  transition: 1s ease-in-out;
  height: 0;
  width: 0;
  opacity: 0.8;
}

#hex-item-7,
#hex-item-8,
#hex-item-9,
#hex-item-10,
#hex-item-11,
#hex-item-12 {
  height: 0;
  width: 3rem;
  border-bottom: 2.625rem solid rgba(255, 255, 255, 0.33);
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  position: absolute;
  top: 0;
  z-index: 3;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}
#hex-item-7:before,
#hex-item-8:before,
#hex-item-9:before,
#hex-item-10:before,
#hex-item-11:before,
#hex-item-12:before {
  content: '';
  height: 0;
  width: 3rem;
  border-top: 2.625rem solid rgba(255, 255, 255, 0.33);
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  position: absolute;
  top: 2.625rem;
  left: -1.5rem;
  z-index: 3;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}

#order-history-icon,
#profile-logout-icon,
#profile-delete-icon,
#profile-favorite-icon,
#profile-analytics-icon {
  z-index: 5;
  color: rgb(0, 0, 0);
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -3rem;
  left: -1rem;
  filter: opacity(0.5) drop-shadow(-0.25rem 1.9rem 0.2rem rgba(0, 0, 0, 1));
}

#profile-logout-icon {
  transform: perspective(100px) rotateX(20deg);
  filter: opacity(0.5) drop-shadow(-0.25rem 1.9rem 0.2rem rgba(0, 0, 0, 1));
}

#ironman-icon {
  width: 2.5rem;
  height: 3.5rem;
  z-index: 5;
  position: absolute;
  top: -3rem;
  left: -0.7rem;
  filter: opacity(0.5) drop-shadow(-0.25rem 1.9rem 0.2rem rgba(0, 0, 0, 1));
}
#ironman-icon:hover {
  filter: opacity(1) drop-shadow(-0.25rem 1.9rem 0.2rem rgba(0, 0, 0, 0.5));
  background-color: #fbca03;
  border-bottom: transparent;
  border-radius: 40%;
  transition: 0.5s ease-in-out;
}

#order-history-icon:hover,
#profile-logout-icon:hover,
#profile-delete-icon:hover,
#profile-favorite-icon:hover,
#profile-analytics-icon:hover {
  color: #fbca03;
  filter: opacity(1) drop-shadow(-0.25rem 1.9rem 0.2rem rgba(0, 0, 0, 0.5));
  transition: ease-out;
}

#second-layer-container {
  display: none;
}
