#hex-main-container {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 5;
  transition: 1s;
}

.hex-container,
.hex-menu {
  height: 7rem;
  width: 8rem;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  z-index: 5;
  opacity: 0.75;
}
.hex-menu {
  z-index: -1;
  transform: scale(0.9);
}

.hex-items {
  height: 0;
  width: 4rem;
  border-bottom: 3.5rem solid #6a0c0b;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  position: absolute;
  top: 0;
  z-index: 3;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}
.hex-items:before {
  content: '';
  height: 0;
  width: 4rem;
  border-top: 3.5rem solid #6a0c0b;
  border-left: 2rem solid transparent;
  border-right: 2rem solid transparent;
  position: absolute;
  top: 3.5rem;
  left: -2rem;
  z-index: 3;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}

.hex-link {
  position: relative;
  top: 4rem;
  left: 1rem;
}

#hex-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transition: 1s ease-in-out;
  height: 0;
  width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hex-text {
  position: relative;
  top: 6rem;
  text-align: center;
}

#hex-item-7,
#hex-item-8,
#hex-item-9,
#hex-item-10,
#hex-item-11,
#hex-item-12 {
  height: 0;
  width: 3rem;
  border-bottom: 2.625rem solid rgba(255, 255, 255, 0.33);
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  position: absolute;
  top: 0;
  left: 10%;
  z-index: -1;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}
#hex-item-7:before,
#hex-item-8:before,
#hex-item-9:before,
#hex-item-10:before,
#hex-item-11:before,
#hex-item-12:before {
  content: '';
  height: 0;
  width: 3rem;
  border-top: 2.625rem solid rgba(255, 255, 255, 0.33);
  border-left: 1.5rem solid transparent;
  border-right: 1.5rem solid transparent;
  position: absolute;
  top: 2.625rem;
  left: -1.5rem;
  z-index: -1;
  transition: 0.7s cubic-bezier(0.38, 0, 0.39, 1);
}

#order-history-icon,
#profile-logout-icon,
#profile-delete-icon,
#profile-favorite-icon,
#profile-analytics-icon {
  color: rgb(255, 255, 255);
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: -3rem;
  left: -1rem;
  filter: opacity(1) drop-shadow(0.1rem 2rem 0.2rem rgba(0, 0, 0, 0.6));
}

#ironman-icon {
  width: 2.5rem;
  height: 3.5rem;
  z-index: 5;
  position: absolute;
  top: -3rem;
  left: -0.7rem;
  filter: opacity(1) drop-shadow(0.1rem 2rem 0.2rem rgba(0, 0, 0, 0.6));
}
#ironman-icon:hover {
  filter: opacity(1) drop-shadow(0.1rem 2rem 0.2rem rgba(0, 0, 0, 0.6));
  background-color: #fbca03;
  border-bottom: transparent;
  border-radius: 40%;
  transition: 0.5s ease-in-out;
}

#order-history-icon:hover,
#profile-logout-icon:hover,
#profile-delete-icon:hover,
#profile-favorite-icon:hover,
#profile-analytics-icon:hover {
  color: #fbca03;
  filter: opacity(1) drop-shadow(0.1rem 2rem 0.2rem rgba(0, 0, 0, 0.6));
  transition: ease-out;
}

#profile-arc-reactor {
  height: 5rem;
  animation: reactor-light;
  animation-duration: 3s;
  -moz-animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

@keyframes reactor-light {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.75);
  }
  100% {
    filter: brightness(1);
  }
}

@media (max-width: 414px) {
  #hex-main-container {
    top: 70%;
    left: 60%;
  }
}

@media (max-width: 375px) {
  #hex-main-container {
    top: 72%;
    left: 60%;
  }
}

@media (max-width: 325px) {
  #hex-main-container {
    top: 70%;
    left: 55%;
  }
}
