@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

.intro {
  height: 90vh;
  margin-top: 10vh;
}
.introImg {
  width: 100%;
  height: 93vh;
  object-fit: cover;
}
.about-us {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  top: 41%;
  left: 11.5%;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.75rem;
  text-align: right;
  color: black;
  height: 10rem;
}
.pseudo {
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  color: rgb(155, 11, 11);
}
.about-us-text-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
#intro-text {
  font-size: 2.5rem;
  font-style: italic;
  letter-spacing: 0.1rem;
  margin-right: 0.5rem;
}
.directory {
  height: 100vh;
}
.wrap {
  display: flex;
  width: 100%;
  height: 100%;
}
.item {
  position: relative;
  width: 100%;
  height: 100%;
  float: left;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  filter: blur(0.09rem);
  -webkit-filter: blur(0.05rem) brightness(90%);
}
.item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#robotics-link {
  display: inline-block;
  line-height: 13rem;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 145%;
  left: 7%;
  font-size: 18rem;
  padding-right: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -1.6rem;
  z-index: 2;
  width: fit-content;
}
#robotics-link:hover {
  color: rgba(223, 223, 223, 0.9);
  transition: 0.3s ease-in-out;
}
#robotic-link-text {
  z-index: 10;
}

.block div {
  position: relative;
  overflow: hidden;
  float: right;
  clear: both;
}
.block div:before,
.block div:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgb(147, 0, 0);
}
.block div:before {
  animation-delay: 5s;
  animation: reveal 4s ease forwards;
}
.block div:after {
  background-color: rgb(251, 251, 251);
  animation-delay: 5s;
  animation: base 3.5s ease forwards;
}
@keyframes reveal {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(111%);
  }
}
@keyframes base {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 1405px) {
  .about-us {
    left: 9.5%;
  }
}
@media (max-width: 1345px) {
  .about-us {
    left: 16.5%;
    letter-spacing: 0.5rem;
  }
  #robotics-link {
    line-height: 12rem;
    font-size: 16rem;
  }
}
@media (max-width: 1240px) {
  .about-us {
    left: 11.5%;
  }
}
@media (max-width: 1085px) {
  #robotics-link {
    line-height: 10rem;
    font-size: 14rem;
  }
}
@media (max-width: 1043px) {
  .about-us {
    left: 8.5%;
    letter-spacing: 0.4rem;
  }
}
@media (max-width: 930px) {
  #robotics-link {
    line-height: 9rem;
    font-size: 12rem;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .about-us {
    left: unset;
  }
  .intro {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 100vh;
  }
  .introImg {
    height: 100vh;
    width: auto;
    margin-right: 66rem;
    filter: opacity(0.3);
    object-fit: unset;
  }

  .block div:after {
    background-color: rgb(49, 49, 49);
    animation-delay: 5s;
    animation: base 3.5s ease forwards;
  }
  .about-us {
    justify-content: center;
    top: 44%;
    font-weight: 600;
    text-align: center;
    color: rgb(220, 220, 220);
    height: 10rem;
    width: 80%;
    align-items: center;
    line-height: 4rem;
  }
  .about-us-text-container {
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0;
    margin-bottom: 0rem;
    font-size: 4rem;
    margin-top: 6rem;
    font-weight: 700;
  }

  #intro-text {
    font-size: 8rem;
    margin: 1rem 0 3rem 0;
    line-height: 0.7;
    padding: 0 1rem;
    text-align: center;
    color: #fbca03;
    letter-spacing: -0.2rem;
  }

  #intro-text-2 {
    width: 100%;
    font-size: 7rem;
    font-weight: 700;
    color: rgb(220, 220, 220);
    line-height: 0.8;
    padding: 0;
    opacity: 0.6;
    margin: 2rem 0 1rem 0;
  }

  #intro-text-3 {
    width: 100%;
    font-size: 6rem;
    line-height: 0.7;
    margin-top: 5rem;
  }

  .pseudo {
    font-size: 12rem;
    color: rgb(155, 11, 11);
    line-height: 0.7;
    margin-bottom: 3rem;
  }
  #robotics-link {
    line-height: 0.75;
    left: 5%;
    font-size: 14rem;
    letter-spacing: -1.5rem;
    top: 121%;
  }
  .directory {
    height: 90vh;
  }
  .wrap {
    overflow: hidden;
  }
  .item {
    width: 200%;
    float: none;
    left: -40%;
  }
}
@media (max-width: 800px) {
  .about-us {
    left: unset;
  }
  .intro {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: 100vh;
  }
  .introImg {
    height: 100vh;
    width: auto;
    margin-right: 49rem;
    filter: opacity(0.2);
    object-fit: unset;
  }
  .block div:after {
    background-color: rgb(49, 49, 49);
  }
  .about-us {
    justify-content: center;
    top: 44%;
    font-weight: 600;
    text-align: center;
    color: rgb(220, 220, 220);
    width: 80%;
    align-items: center;
    line-height: 4rem;
  }
  .about-us-text-container {
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0;
    margin: 3rem 0 0 0;
    font-size: 2.5rem;
    font-weight: 700;
  }

  #intro-text {
    font-size: 5rem;
    margin: 0.5rem 0 0 0;
    line-height: 0.7;
    padding: 0 1rem;
  }

  #intro-text-2 {
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(220, 220, 220);
    line-height: 0.8;
    padding: 0;
    opacity: 0.4;
  }

  #intro-text-3 {
    width: 100%;
    font-size: 3rem;
    line-height: 1;
    margin-top: 3rem;
  }

  .pseudo {
    font-size: 8rem;
    line-height: 0.7;
    margin-bottom: 3rem;
  }
  #robotics-link {
    line-height: 8rem;
    left: 5%;
    font-size: 11rem;
    padding-right: 1rem;
    letter-spacing: -0.9rem;
    top: 140%;
  }
  .directory {
    height: 90vh;
  }
  .wrap {
    overflow: hidden;
  }
  .item {
    width: 300%;
    height: auto;
    float: none;
    left: -40%;
  }
}

@media (max-width: 748px) {
  #robotics-link {
    font-size: 9rem;
  }
}

@media (max-width: 629px) {
  .introImg {
    margin-right: 34rem;
  }

  .about-us {
    top: 40%;
    font-size: 1.2rem;
    height: 10rem;
    line-height: 1.6rem;
  }

  .about-us-text-container {
    align-items: center;
    margin-bottom: 2rem;
    font-size: 2.3rem;
  }

  #intro-text {
    font-size: 4.4rem;
    margin: 0.5rem 0 0 0;
    line-height: 0.7;
  }

  #intro-text-2 {
    width: 104%;
    font-weight: 600;
    line-height: 0.7;
  }

  #intro-text-3 {
    font-size: 2rem;
    line-height: 3rem;
  }

  .pseudo {
    font-size: 5rem;
    margin-bottom: 0;
  }

  #robotics-link {
    display: inline-block;
    line-height: 6rem;
    left: 7%;
    font-size: 7rem;
    letter-spacing: -0.55rem;
  }
  .item {
    float: left;
    left: -110%;
  }
}

@media (max-width: 500px) {
  #robotics-link {
    font-size: 6rem;
    left: 5%;
    line-height: 4.5rem;
  }
  #intro-text {
    font-size: 4rem;
  }
  #intro-text-2 {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(220, 220, 220);
    line-height: 0.75;
    padding: 0;
  }
  .about-us-text-container {
    font-size: 1.5rem;
  }
}
@media (max-width: 411px) {
  .introImg {
    margin-right: 39rem;
  }
}
@media (max-width: 375px) {
  .introImg {
    width: 350%;
    margin-right: 32rem;
  }
  .about-us-text-container {
    font-size: 1.5rem;
  }
  #intro-text {
    font-size: 3.25rem;
  }
  #intro-text-2 {
    line-height: 0.75;
  }
  #intro-text-3 {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .pseudo {
    font-size: 4.25rem;
  }
  #robotics-link {
    line-height: 4rem;
    top: unset;
    left: unset;
    font-size: 5.25rem;
    padding-right: 0;
    letter-spacing: -0.55rem;
    align-self: center;
    width: 100%;
    text-align: center;
  }
  .item {
    width: 300%;
    height: auto;
  }
}
@media (max-width: 375px) and (min-height: 812px) {
  .introImg {
    width: 350%;
    margin-right: 35rem;
  }
}
@media (max-width: 320px) {
  .introImg {
    margin-right: 27rem;
  }
  #intro-text {
    font-size: 2.75rem;
  }
  #intro-text-2 {
    width: 100%;
  }
  .pseudo {
    font-size: 3.75rem;
    line-height: 2.5rem;
  }
  #robotics-link {
    font-size: 4.75rem;
    line-height: 0.75;
  }
}
@media (max-width: 280px) {
  .introImg {
    width: 350%;
    margin-right: 26rem;
  }
  #intro-text {
    font-size: 2.5rem;
    line-height: 0.71;
  }
  #intro-text-2 {
    font-size: 2rem;
  }
  .pseudo {
    font-size: 3.5rem;
    line-height: 2.5rem;
  }
  #robotics-link {
    font-size: 4.3rem;
    line-height: 3rem;
  }
}
