@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

.login-BG {
  background: linear-gradient(rgba(60, 60, 60, 0.1), rgba(45, 45, 45, 0.6)),
    url('../images/ironman-login-WP.jpeg');
  position: relative;
  width: 100%;
  height: 100vh;
  float: right;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
}
.signup-BG {
  background: linear-gradient(rgba(133, 133, 133, 0.1), rgba(0, 0, 0, 0.7)),
    url('../images/ironman-register-WP.jpg');
  position: relative;
  width: 100%;
  height: 100vh;
  float: left;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.formWrap {
  margin: 0 auto;
  padding: 5rem;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  flex-wrap: wrap;
  z-index: 0;
  top: 8%;
}
.login-wrap {
  position: relative;
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  background: rgba(21, 21, 21, 0.7);
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-left: 0.1rem solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
}

.login-wrap h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5rem;
  display: block;
  width: 100%;
  padding: 0;
  margin: 1rem;
  color: rgb(220, 220, 220);
}
.loginBtn-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.loginBtn {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(220, 220, 220);
  font-weight: 400;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  padding: 0.5rem;
  width: 64%;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-left: 0.1rem solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  font-family: 'Poppins', sans-serif;
}
.loginBtn:hover {
  background-color: rgb(220, 220, 220);
  color: black;
  letter-spacing: 0.2rem;
  transition: ease-in-out 0.1s;
  font-weight: 400;
  cursor: pointer;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
}

.form-container {
  margin: 0 auto;
  width: 80%;
}

.formInput {
  font-family: 'Poppins', sans-serif;
  display: block;
  width: 75%;
  height: 2rem;
  padding: 0 1rem;
  margin: 0.6rem auto;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  border: none;
  outline: none;
  color: rgb(220, 220, 220);
  border-radius: 2rem;
  background: rgba(255, 255, 255, 0.1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(220, 220, 220);
  transition: background-color 1000s ease-in-out 0s;
  font-size: 1rem;
}

::placeholder {
  font-weight: 300;
  color: rgb(189, 189, 189);
  opacity: 1;
}
:-ms-input-placeholder {
  color: rgb(220, 220, 220);
}
::-ms-input-placeholder {
  color: rgb(220, 220, 220);
}

.socialSignin {
  margin: 0.5rem auto 0;
  font-family: 'Poppins', sans-serif;
}

.row {
  display: flex;
  justify-content: center;
}

.social-icons {
  padding: 0.2rem;
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  color: rgb(220, 220, 220);
}
.social-icons:before {
  width: 0;
}

.label-container label {
  font-size: 1rem;
  margin-left: 2rem;
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .formWrap {
    margin: 13rem auto;
  }
}

@media (max-width: 770px) and (min-height: 1024px) {
  .formWrap {
    margin: 7rem auto;
  }
}

@media (max-width: 540px) {
  .login-BG {
    background-blend-mode: darken;
    height: 100%;
    position: fixed;
  }
  .signup-BG {
    height: 100%;
    position: fixed;
  }

  .form-container {
    width: 100%;
  }

  .formWrap {
    padding: 0;
    margin: 1.5rem;
    backdrop-filter: none;
    top: 0%;
  }

  .login-wrap {
    height: 25rem;
    padding: 1rem;
    backdrop-filter: none;
    margin: 7rem 0 0 0;
    background: rgba(0, 0, 0, 0.7);
  }

  .login-wrap h2 {
    letter-spacing: 0.2rem;
    font-size: 1.6rem;
    font-weight: 400;
  }

  .label-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .label-container label {
    margin: 0 auto;
    font-size: 1.2rem;
  }

  .loginBtn-container {
    margin-top: 1rem;
  }

  .loginBtn {
    width: 75%;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.25rem;
  }

  .loginBtn:hover {
    width: 75%;
    border-radius: 2rem;
    font-size: 1.2rem;
    padding: 0.25rem;
  }

  .formInput {
    font-size: 1.2rem;
  }
}
@media (max-width: 414px) {
  .login-BG {
    height: 85vh;
  }
  .signup-BG {
    height: 85vh;
  }
}
@media (max-width: 375px) {
  .login-wrap {
    margin: 5rem 0 0 0;
  }
}

@media (max-width: 375px) and (min-height: 812px) {
  .login-wrap {
    margin: 7rem 0 0 0;
  }
}
@media (max-width: 325px) {
  .login-wrap {
    height: 20rem;
    padding: 2rem;
    backdrop-filter: blur(0.5rem);
    background: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
  }
  .login-wrap h2 {
    font-weight: 200;
    font-size: 1.5rem;
  }
  .label-container label {
    margin: 0 auto;
    font-size: 1rem;
  }
  .formWrap {
    padding: 0;
    margin: 1.5rem;
    backdrop-filter: blur(1.5px);
    top: 13%;
  }
  .formInput {
    font-size: 1rem;
  }
  .loginBtn {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
