@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700&display=swap');

.under-construction-container {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UC-background-img-container {
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}

.UC-background-img {
  width: 100%;
  filter: brightness(0.75);
  position: absolute;
  height: 100%;
  object-fit: cover;
}

.under-construction-wrapper {
  height: 50%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  text-align: left;
  position: absolute;
  left: 49%;
  top: 19%;
}

.under-construction-wrapper h1 {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  text-align: center;
  margin: 3rem 0 0 0;
}

.page404-container {
  margin-top: 10vh;
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page404-img-container {
  width: 100%;
  height: 90vh;
  position: absolute;
  z-index: -1;
  overflow: hidden;
}
.page404-img {
  filter: brightness(0.5);
  position: absolute;
  height: 100%;
}

.page404-wrapper {
  height: 50%;
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  position: absolute;
  left: 13%;
  top: 20%;
}

#text-not-found {
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  margin: 0;
  position: absolute;
  left: 35.5%;
  top: 77.5%;
}
#text-404 {
  font-size: 16rem;
  height: 10rem;
  text-align: center;
  line-height: 1;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.15);
  position: absolute;
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .page404-container {
    position: fixed;
  }
  .page404-img {
    left: -100%;
    top: unset;
  }
  .UC-background-img {
    width: unset;
    height: 125%;
    top: -20%;
    left: -45%;
  }
  .under-construction-container {
    position: fixed;
  }
  .under-construction-wrapper {
    align-items: center;
    height: 100%;
    width: 100%;
    top: unset;
    left: unset;
    text-align: center;
  }
  .under-construction-wrapper h1 {
    font-size: 2rem;
    margin: 2rem 1rem 5rem 1rem;
    font-weight: 400;
  }
  .page404-wrapper {
    height: 100%;
    width: 100%;
    top: unset;
    left: unset;
    align-items: center;
  }
  #text-404 {
    font-size: 22rem;
    height: 11rem;
    margin: 0;
    top: 16%;
    left: 30%;
  }
  #text-not-found {
    font-size: 3rem;
    left: 48%;
    top: 36%;
    font-weight: 400;
  }
}

@media (max-width: 850px) {
  .page404-container {
    position: fixed;
  }
  .page404-img {
    left: -100%;
    top: unset;
  }
  .UC-background-img {
    width: unset;
    height: 125%;
    top: -20%;
    left: -45%;
  }
  .under-construction-container {
    position: fixed;
  }
  .under-construction-wrapper {
    align-items: center;
    height: 100%;
    width: 100%;
    top: unset;
    left: unset;
    text-align: center;
  }
  .under-construction-wrapper h1 {
    font-size: 1.2rem;
    margin: 2rem 1rem 5rem 1rem;
    font-weight: 300;
  }
  .page404-wrapper {
    height: 100%;
    width: 100%;
    top: unset;
    left: unset;
    align-items: center;
  }
  #text-404 {
    font-size: 12rem;
    height: 11rem;
    margin: 0;
    top: 17%;
    left: 26%;
  }
  #text-not-found {
    font-size: 1.6rem;
    left: 44%;
    top: 36%;
  }
}

@media (max-width: 770px) and (min-height: 1024px) {
  .page404-container {
    position: fixed;
  }
  .page404-img {
    left: -100%;
    top: unset;
  }
  .UC-background-img {
    width: unset;
    height: 125%;
    top: -20%;
    left: -45%;
  }
  .under-construction-container {
    position: fixed;
  }
  .under-construction-wrapper {
    align-items: center;
    height: 100%;
    width: 100%;
    top: unset;
    left: unset;
    text-align: center;
  }
  .under-construction-wrapper h1 {
    font-size: 2rem;
    margin: 2rem 1rem 5rem 1rem;
    font-weight: 400;
  }
  .page404-wrapper {
    height: 100%;
    width: 100%;
    top: unset;
    left: unset;
    align-items: center;
  }
  #text-404 {
    font-size: 16rem;
    height: 11rem;
    margin: 0;
    top: 16%;
    left: 30%;
  }
  #text-not-found {
    font-size: 2rem;
    left: 49%;
    top: 36%;
    font-weight: 300;
  }
}
@media (max-width: 540px) {
  #text-not-found {
    font-size: 1.6rem;
    left: 43.5%;
    top: 37.5%;
  }
}
@media (max-width: 414px) {
  .page404-container {
    margin-top: 0;
    height: 100%;
  }
  .page404-img-container {
    height: 85vh;
  }
  .page404-img {
    left: -170%;
  }
  #text-404 {
    font-size: 8rem;
    height: 8rem;
    top: unset;
    left: unset;
  }
  #text-not-found {
    font-size: 1rem;
    left: 33.8%;
    top: 54%;
  }
  .under-construction-container {
    height: 100%;
  }
  .UC-background-img-container {
    height: -webkit-fill-available;
    padding: 0 4rem 5rem 0;
  }
  .UC-background-img {
    left: -60%;
  }
}

@media (max-width: 375px) {
  .UC-background-img {
    left: -100%;
  }
  #text-not-found {
    font-size: 1rem;
    left: 31.8%;
    top: 54.6%;
  }
}

@media (max-width: 325px) {
  #text-404 {
    margin: 0 0 3rem;
  }
  .page404-img {
    left: -120%;
  }
  #text-not-found {
    font-size: 1rem;
    left: 29.5%;
    top: 50.2%;
  }
  .UC-background-img {
    width: unset;
    height: 100%;
    top: unset;
    left: -55%;
  }
  .under-construction-wrapper h1 {
    margin: 2rem 0 5rem 0;
  }
}
