.order-history-main-container {
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
}
.order-history-wrapper {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.order-history-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 199, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(0.3rem);
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.order-history-glass-container {
  background: linear-gradient(
    100deg,
    rgba(0, 199, 255, 0.3),
    rgba(0, 199, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(0.3rem);
}
.order-history-subheader-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.order-history-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1.25rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}

.order-history-img-wrapper {
  height: 11rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-history-qty-price-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 1.25rem;
}

.order-history-address-wrapper,
.order-history-status-wrapper {
  height: 100%;
  width: 20rem;
}

.order-history-address-wrapper {
  margin-left: 8.7rem;
}

.order-history-status-wrapper {
  margin-left: 7.2rem;
  margin-right: 1.7rem;
  height: 100%;
}

.track-status-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
  height: 4rem;
}

.track-status-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
  width: 100%;
}

.track-status-box-left,
.track-status-box-middle,
.track-status-box-right {
  padding: 1.25rem 2rem 0rem 2rem;
  background-color: yellow;
  position: relative;
  margin: 0.5rem;
  float: left;
  width: 1.25rem;
}

.track-status-box-left:after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid yellow;
  border-right: none;
}

.track-status-box-middle::before {
  content: '';
  position: absolute;
  right: 74px;
  top: 0px;
  border-top: 10px solid yellow;
  border-bottom: 10px solid yellow;
  border-left: 10px solid black;
  border-right: none;
}

.track-status-box-middle::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid yellow;
  border-right: none;
}
.track-status-box-right::after {
  content: '';
  position: absolute;
  right: 74px;
  top: 0px;
  border-top: 10px solid yellow;
  border-bottom: 10px solid yellow;
  border-left: 10px solid black;
  border-right: none;
}
