.order-history-main-container {
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
  z-index: 2;
}
.order-history-wrapper {
  width: 80vw;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.order-history-empty-container {
  height: 84vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.order-history-empty {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  z-index: 10;
  font-size: 2rem;
  padding-bottom: 1rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
  margin-top: 9rem;
}

#cart-back-link-OH {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  font-size: 1.2rem;
}

#cart-back-link-OH svg {
  padding-right: 1rem;
}
.order-history-header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 199, 255, 0.1);
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(0.3rem);
  height: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.order-history-glass-container {
  background: linear-gradient(
    100deg,
    rgba(0, 199, 255, 0.3),
    rgba(0, 199, 255, 0.1),
    rgba(0, 0, 0, 0.1)
  );
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(0.3rem);
}
.order-history-subheader-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 1.5rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.order-history-content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1.25rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}

.order-history-img-wrapper {
  height: 11rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-history-qty-price-wrapper {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 1.25rem;
}

.order-history-address-wrapper,
.order-history-status-wrapper {
  height: 100%;
  width: 20rem;
}

.order-history-address-wrapper {
  margin-left: 8.7rem;
}

.order-history-status-wrapper {
  margin-left: 7.2rem;
  margin-right: 1.7rem;
  height: 100%;
}

.track-status-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-size: 0.8rem;
  height: 4rem;
}

.track-status-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 0.8rem;
  width: 100%;
  color: rgb(75, 75, 75);
}

.track-status-box-left,
.track-status-box-middle,
#track-status-box-right {
  padding: 1.25rem 2rem 0rem 2rem;
  background-color: rgb(75, 75, 75);
  position: relative;
  margin: 0.5rem;
  float: left;
  width: 1.25rem;
}

#track-status-box-left-after {
  position: absolute;
  right: 12.82rem;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(75, 75, 75);
  border-right: none;
}

#track-status-box-middle-before {
  position: absolute;
  right: 11.82rem;
  border-top: 10px solid rgb(75, 75, 75);
  border-bottom: 10px solid rgb(75, 75, 75);
  border-left: 10px solid black;
  border-right: none;
  z-index: 2;
}

#track-status-box-middle-after {
  position: absolute;
  right: 6.57rem;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(75, 75, 75);
  border-right: none;
}

#track-status-box-right-after {
  position: absolute;
  right: 5.6rem;
  border-top: 10px solid rgb(75, 75, 75);
  border-bottom: 10px solid rgb(75, 75, 75);
  border-left: 10px solid black;
  border-right: none;
}

#track-status-delivered {
  color: rgb(75, 75, 75);
}

.ironman-OH-wallpaper-container {
  width: 100%;
  height: 90vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: fixed;
  filter: brightness(0.8);
}

.ironman-OH {
  height: 120%;
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  top: -22.5%;
  width: 34.5%;
  left: 33%;
}
