.post-checkout-container {
  height: 90vh;
  width: 100%;
  margin-top: 10vh;
}

.post-checkout-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.2rem;
}

.checkout-back-link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.checkout-back-link {
  color: #e8e8e8e4;
  z-index: 2;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.checkout-back-link,
.checkout-back-link:link,
.checkout-back-link:visited,
.checkout-back-link:active {
  text-decoration: none;
}

.checkout-back-link:hover {
  color: rgb(253, 212, 132);
}

.checkout-back-link svg {
  padding: 4px;
}
.checkout-back-link-btn {
  width: 8rem;
  z-index: 2;
  font-size: 1rem;
}

#post-guest-checkout-container {
  width: 40rem;
  text-align: center;
  margin: 2rem;
  font-size: 1.2rem;
}

@media (max-width: 325px) {
  .post-checkout-wrapper {
    font-size: 1rem;
    margin: 0 3rem;
    text-align: center;
  }

  #post-guest-checkout-container {
    margin: 2rem 0;
    font-size: 1rem;
    width: 100%;
  }

  .checkout-back-link-container {
    margin-top: 2rem;
  }

  .checkout-back-link-btn {
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(255, 212, 124);
    font-size: 1rem;
  }

  .checkout-back-link {
    margin: 0;
    font-size: 1rem;
    width: 100%;
    left: 15%;
    bottom: -6.5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkout-back-link svg {
    padding: 0.25rem;
    border-radius: 50%;
    border-width: 1px;
    background-color: rgb(255, 212, 124);
    color: black;
  }
}
