.cart-main-container {
  width: 100%;
  height: 90vh;
  background-color: transparent;
  color: #e8e8e8e4;
  position: absolute;
  top: 10%;
}
.cart-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  padding-top: 2.5vh;
}
.cart-glass-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 900px;
  height: 10rem;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.1),
    rgba(164, 164, 164, 0.5)
  );
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(0.3rem);
  z-index: 1;
  margin-left: 190px;
}

.cart-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 10rem;
}

.cart-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 10rem;
  font-size: 1.3rem;
}
.cart-fullname {
  background: -webkit-linear-gradient(
    300deg,
    rgb(247, 199, 0),
    rgba(179, 0, 0, 0.619)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cart-quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 6rem;
  font-size: 1.3rem;
}
.increment-decrement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.remove-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 160px;
}

.cart-price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7rem;
  width: 10rem;
  font-size: 1.3rem;
}

.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: transparent;
  padding: 0.3rem 0.3rem;
  margin: 0.2rem;
  background-color: #e8e8e8e4;
}

.cart-subtotal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 997px;
  margin: 5rem 250px 5rem 150px;
}

.cart-subtotal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
  z-index: 2;
  font-size: 1.1rem;
}

.cart-subtotal-wrapper svg {
  padding: 4px;
  z-index: 2;
}
.cart-subtotal-wrapper a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.cart-subtotal-wrapper {
  text-decoration: none;
}
.cart-back-link {
  color: #e8e8e8e4;
  margin-right: 25.8rem;
  z-index: 2;
}

.cart-back-link,
.cart-back-link:link,
.cart-back-link:visited,
.cart-back-link:active {
  text-decoration: none;
}

.cart-back-link:hover {
  color: rgb(253, 212, 132);
}

.cart-back-btn {
  z-index: 2;
}

.checkout-btn {
  margin: 0.5rem 14px 3rem 0;
  font-size: 0.9rem;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 1rem;
  background: rgb(253, 212, 132);
  cursor: pointer;
  padding: 0.3rem;
  width: 8rem;
  border: transparent;
  z-index: 2;
}
.checkout-btn:hover {
  background-color: white;
  color: black;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  padding: 0.3rem;
}

.ironman-gif-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.ironman {
  width: 50%;
  height: 55%;
  box-sizing: border-box;
  z-index: 1;
}

.cart-empty-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-empty {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  z-index: 10;
  font-size: 3rem;
  padding-bottom: 1rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
}
