.cart-main-container {
  width: 100%;
  height: 90vh;
  background-color: transparent;
  color: #e8e8e8e4;
  position: absolute;
  top: 10%;
  z-index: 2;
}
.cart-main-container h1 {
  margin: 0;
  text-align: center;
}
.cart-info-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: fit-content;
  padding-top: 2.5vh;
}
.cart-glass-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 900px;
  height: 10rem;
  background: linear-gradient(
    150deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.1)
  );
  box-sizing: border-box;
  overflow: hidden;
  backdrop-filter: blur(0.3rem);
  -webkit-backdrop-filter: blur(0.3rem);
  z-index: 3;
  margin-left: 8rem;
}
.cart-img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 10rem;
}
.empty-cart-back-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5rem;
  font-size: 1.2rem;
  color: rgb(253, 212, 132);
}
.empty-cart-back-link svg {
  padding-right: 1rem;
}
.cart-name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  width: 10rem;
  font-size: 1.3rem;
}
.cart-fullname {
  background: rgba(70, 190, 200, 0.6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cart-quantity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 7.9rem;
  font-size: 1.3rem;
}
.increment-decrement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.remove-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 160px;
}
.cart-price-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8.65rem;
  width: 10rem;
  font-size: 1.3rem;
}
.cart-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: transparent;
  padding: 0.3rem 0.3rem;
  margin: 0.2rem;
  background-color: #e8e8e8e4;
}
.cart-btn:hover {
  background: rgba(70, 190, 200, 0.6);
  color: #e8e8e8e4;
  cursor: pointer;
}
.cart-subtotal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 900px;
  margin: 5rem auto;
}
.cart-subtotal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 1rem;
  z-index: 2;
  font-size: 1.3rem;
  font-weight: 500;
}
.cart-subtotal-wrapper svg {
  padding: 5px;
  z-index: 2;
}
.cart-subtotal-wrapper a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.cart-subtotal-wrapper {
  text-decoration: none;
}
.cart-back-link {
  color: #e8e8e8e4;
  margin-right: 25.4rem;
  z-index: 10;
}
.cart-back-link,
.cart-back-link:link,
.cart-back-link:visited,
.cart-back-link:active {
  text-decoration: none;
}
.cart-back-link:hover {
  color: rgb(253, 212, 132);
}
.cart-back-btn {
  z-index: 2;
}
.checkout-btn {
  margin: 0.5rem 14px 3rem 0;
  font-size: 0.9rem;
  color: #e8e8e8e4;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 1rem;
  background: rgba(70, 190, 200, 0.6);
  cursor: pointer;
  padding: 0.3rem;
  width: 8rem;
  border: transparent;
  z-index: 2;
}
.checkout-btn:hover {
  background-color: #e8e8e8e4;
  color: black;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  padding: 0.3rem;
}
.ironman-gif-container {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  position: fixed;
}
.ironman {
  width: 50rem;
  height: 30rem;
  box-sizing: border-box;
  z-index: 1;
}
.cart-empty-container {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart-empty {
  padding: 0 0 1rem 0;
  margin: 9.5rem 0 4rem 0;
  box-sizing: border-box;
  text-align: center;
  z-index: 10;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in;
}
.ReactModal__Overlay--after-open {
  opacity: 1;
}
.cart-total-text {
  margin-right: 2rem;
}
.cart-total-price {
  width: 10rem;
  text-align: center;
}
.cart-quantity-text {
  padding: 1rem;
  width: 1rem;
}
.cart-img {
  height: 150px;
}
@media (max-width: 1160px) {
  .cart-main-container h1 {
    margin: 0;
    text-align: center;
  }
  .cart-glass-container {
    width: 45rem;
    margin-left: 2rem;
  }
  .cart-img-wrapper {
    margin-left: 1rem;
  }
  .cart-quantity-container {
    margin-left: 1rem;
    font-size: 1.1rem;
  }
  .cart-price-wrapper {
    justify-content: flex-end;
    margin: 0 1rem;
    font-size: 1.1rem;
  }
  .remove-btn-container {
    width: 16%;
  }
  .cart-name-wrapper {
    margin-left: 0;
    font-size: 1.1rem;
  }
  .cart-fullname {
    text-align: center;
  }
  .cart-back-link {
    margin-right: 16rem;
  }
  .cart-subtotal-container {
    justify-content: center;
    width: 100%;
    margin: 0;
    padding-bottom: 2rem;
    z-index: 10;
  }
  .cart-subtotal-wrapper {
    align-items: center;
    font-size: 1.1rem;
    padding: 2rem 9.5rem 1rem 0;
    width: 75%;
    justify-content: flex-end;
  }
  .cart-subtotal-wrapper svg {
    padding: 3.5px;
  }
  .cart-total-price {
    width: 10rem;
    font-size: 1.1rem;
    font-weight: 900;
    align-self: center;
    text-align: end;
  }
  .cart-total-text {
    margin: 0 0 0 5rem;
    font-size: 1.1rem;
    font-weight: 900;
    align-self: center;
  }
  .checkout-btn {
    margin: 1rem 9.5rem 0 0;
    width: 7rem;
    padding: 0.44rem;
  }
  .checkout-btn:hover {
    margin: 1rem 9.5rem 0 0;
    width: 7rem;
    padding: 0.44rem;
  }
}

@media (max-width: 1024px) and (min-height: 1366px) {
  .ironman-gif-container {
    height: 100%;
  }
  .ironman {
    width: 150%;
    height: 55%;
    margin-bottom: 5rem;
  }
  .cart-empty-container {
    overflow: hidden;
    position: fixed;
    height: 100%;
  }
  .cart-empty {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    width: 100%;
    margin: 0 0 14rem;
  }
  .empty-cart-back-btn {
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(255, 212, 124);
    font-size: 2rem;
  }
  .empty-cart-back-link {
    margin: 0;
    font-size: 1.5rem;
    left: 15%;
    bottom: -6.5%;
  }
  .empty-cart-back-link svg {
    padding: 0.25rem;
    border-radius: 50%;
    border-width: 1px;
    background-color: rgb(255, 212, 124);
    color: black;
    margin-right: 1rem;
  }
  .cart-main-container h1 {
    margin: 0;
    text-align: center;
  }
  .cart-glass-container {
    width: 64rem;
    height: 10rem;
    margin-left: 2rem;
  }
  .cart-quantity-container {
    margin-left: 5rem;
    font-size: 1.3rem;
  }
  .cart-price-wrapper {
    justify-content: flex-end;
    margin: 0 2rem 0 6rem;
  }
  .remove-btn-container {
    width: 16%;
    height: 160px;
  }
  .cart-subtotal-container {
    width: 100%;
    margin: 5rem 0;
  }
  .cart-back-link {
    margin-right: 18.5rem;
  }
  .cart-total-text {
    margin-right: 0;
  }
  .cart-total-price {
    text-align: right;
    padding-right: 0;
  }
  .checkout-btn {
    margin: 1rem 8.7rem 0 0;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    width: 10rem;
  }
  .checkout-btn:hover {
    margin: 1rem 8.7rem 0 0;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    width: 10rem;
  }
  .cart-name-wrapper {
    margin-left: 0;
  }
  .cart-fullname {
    text-align: center;
  }
  .cart-back-btn,
  .cart-total-text,
  .cart-total-price {
    font-weight: 600;
  }
}
@media (max-width: 961px) {
  .cart-back-link {
    margin-right: 11rem;
  }
  .cart-empty {
    font-size: 1.8rem;
    margin: 8.5rem 0 7rem 0;
  }
  .empty-cart-back-link {
    margin: 0;
    font-size: 1.2rem;
    color: rgb(253, 212, 132);
  }
  .empty-cart-back-link svg {
    padding: 0.25rem;
    border-radius: 50%;
    border-width: 1px;
    background-color: rgb(255, 212, 124);
    color: black;
  }
  .empty-cart-back-btn {
    margin-left: 1rem;
  }
}
@media (max-width: 870px) {
  .cart-back-link {
    margin-right: 9rem;
  }
}
@media (max-width: 807px) {
  .cart-back-link {
    margin-right: 5rem;
  }
  .cart-subtotal-wrapper {
    padding: 2rem 7.5rem 1rem 0;
  }
  .checkout-btn {
    margin: 1rem 7.5rem 0 0;
    width: 7rem;
    padding: 0.44rem;
  }
  .checkout-btn:hover {
    margin: 1rem 7.5rem 0 0;
    width: 7rem;
    padding: 0.44rem;
  }
}

@media (max-width: 770px) and (min-height: 1024px) {
  .ironman-gif-container {
    height: 100%;
  }
  .ironman {
    width: 150%;
    height: 55%;
    margin-bottom: 5rem;
  }
  .cart-empty-container {
    overflow: hidden;
    position: fixed;
    height: 100%;
  }
  .cart-empty {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    width: 100%;
    margin: 0 0 10rem;
  }
  .empty-cart-back-btn {
    margin-left: 1rem;
    text-decoration: none;
    color: rgb(255, 212, 124);
    font-size: 2rem;
  }
  .empty-cart-back-link {
    margin: 0;
    font-size: 1.5rem;
    left: 15%;
    bottom: -6.5%;
  }
  .empty-cart-back-link svg {
    padding: 0.25rem;
    border-radius: 50%;
    border-width: 1px;
    background-color: rgb(255, 212, 124);
    color: black;
    margin-right: 1rem;
  }
  .cart-main-container h1 {
    margin: 0;
    text-align: center;
  }
  .cart-glass-container {
    width: 45rem;
    margin-left: 2rem;
  }
  .cart-quantity-container {
    margin-left: 2rem;
    font-size: 1.3rem;
  }
  .cart-price-wrapper {
    justify-content: flex-end;
    margin: 0 2rem 0 4rem;
  }
  .remove-btn-container {
    width: 16%;
  }
  .cart-subtotal-container {
    width: 100%;
    margin: 5rem 0;
  }
  .cart-subtotal-wrapper {
    padding: 2rem 7rem 1rem 0;
  }
  .cart-back-link {
    margin-right: 6rem;
  }
  .cart-total-text {
    margin-right: 0;
  }
  .cart-total-price {
    text-align: right;
    padding-right: 0;
  }
  .checkout-btn {
    margin: 1rem 7rem 0 0;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    width: 10rem;
  }
  .checkout-btn:hover {
    margin: 1rem 7rem 0 0;
    padding: 0.3rem 1rem;
    font-size: 1.2rem;
    width: 10rem;
  }
  .cart-name-wrapper {
    margin-left: 0;
  }
  .cart-fullname {
    text-align: center;
  }
  .cart-back-btn,
  .cart-total-text,
  .cart-total-price {
    font-weight: 600;
  }
}
@media (max-width: 750px) {
  .cart-back-link {
    margin-right: 2rem;
  }
}
@media (max-width: 650px) {
  .cart-total-price {
    width: 10rem;
    font-size: 1.3rem;
    font-weight: 900;
    align-self: center;
    text-align: end;
  }
  .cart-total-text {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 900;
    align-self: center;
  }
  .cart-subtotal-wrapper svg {
    padding: 5px;
  }
  .cart-back-btn {
    display: none;
  }
  .cart-back-link {
    margin-right: 2rem;
    position: relative;
    left: -17.5%;
    width: 32px;
    height: 32px;
    z-index: 10;
  }
  .cart-back-link svg {
    border-radius: 50%;
    border-width: 1px;
    background-color: rgba(70, 190, 200, 0.6);
    color: #dcdcdc;
    z-index: 10;
  }
  .cart-subtotal-wrapper {
    padding: 2rem 5rem 1rem 0;
    width: 100%;
    font-size: 1.2rem;
  }
  .checkout-btn {
    margin: 1rem 5rem 0 0;
    width: 7rem;
    padding: 0.44rem;
  }
  .checkout-btn:hover {
    margin: 1rem 5rem 0 0;
    width: 7rem;
    padding: 0.44rem;
  }
  .empty-cart-back-link svg {
    padding: 0.25rem;
    border-radius: 50%;
    border-width: 1px;
    background-color: rgb(255, 212, 124);
    color: black;
  }
}

@media (max-width: 550px) {
  .ironman-gif-container {
    height: 100%;
  }
  .ironman {
    width: 150%;
    height: 55%;
  }
  .cart-main-container {
    height: 75vh;
    top: 0%;
    margin-top: 10vh;
  }
  .cart-img {
    height: 180px;
  }
  .cart-empty-container {
    overflow: hidden;
    position: fixed;
    height: 75%;
  }
  .cart-empty {
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    width: 100%;
    margin: 17rem 0 8rem 0;
  }
  .empty-cart-back-btn {
    font-size: 1.1rem;
    margin-left: 1rem;
  }
  .empty-cart-back-link {
    font-size: 1rem;
    width: 100%;
    left: 15%;
    bottom: -6.5%;
  }
  .empty-cart-back-link svg {
    padding: 0.25rem;
    border-radius: 50%;
    border-width: 1px;
    background-color: rgb(255, 212, 124);
    color: black;
  }
  .cart-main-container h1 {
    margin: 0 auto;
    text-align: center;
  }
  .cart-subtotal-wrapper {
    padding: 2rem 3.75rem 1rem 0;
  }
  .checkout-btn {
    margin-right: 3.75rem;
  }
  .checkout-btn:hover {
    margin-right: 3.75rem;
  }
  .cart-glass-container {
    margin: 0 2rem 0 0;
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
    align-items: flex-end;
  }
  .cart-name-wrapper {
    margin: 0;
    font-size: 1.1rem;
    justify-content: flex-start;
  }
  .cart-fullname {
    font-size: 1.3rem;
    background-color: rgb(253, 212, 132);
  }
  .cart-quantity-container {
    margin: 0;
    font-size: 1.8rem;
    width: 10rem;
    justify-content: flex-start;
  }
  .increment-decrement-container {
    flex-direction: row;
  }
  .cart-quantity-text {
    padding: 0;
    margin-right: 1rem;
  }
  .cart-price-wrapper {
    margin: 0;
    font-size: 1.2rem;
    justify-content: flex-start;
  }
  .cart-img-wrapper {
    margin: 0;
    position: absolute;
    left: 5%;
    top: unset;
    height: 100%;
  }
  .remove-btn-container {
    height: 100%;
    margin: auto 1rem;
    padding: 1.3rem 2rem 0 0;
  }
}

@media (max-width: 414px) {
  .ironman-gif-container {
    overflow: hidden;
  }
  .ironman {
    margin: 0;
    box-sizing: unset;
  }
  .cart-glass-container {
    margin: 0;
  }
  .cart-back-link {
    margin-right: 5rem;
  }
  .cart-total-text {
    font-size: 1rem;
  }
  .cart-total-price {
    width: 8rem;
    font-size: 1rem;
  }
  .cart-back-link {
    margin-right: 0.5rem;
  }
  .cart-img {
    height: 150px;
  }
  .cart-empty {
    width: 80%;
    margin: 12rem 0 6rem 0;
  }
  .cart-fullname {
    font-size: 1.1rem;
  }
  .cart-quantity-container {
    font-size: 1.1rem;
  }
  .cart-price-wrapper {
    font-size: 1rem;
  }
  .cart-img-wrapper {
    left: -5%;
  }
  .remove-btn-container {
    padding: 0;
  }
}

@media (max-width: 375px) {
  .cart-empty {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    width: 80%;
    margin: 13rem 0 5rem 0;
  }
  .cart-subtotal-wrapper {
    padding: 2rem 2rem 1rem 0;
  }
  .checkout-btn {
    margin-right: 2rem;
  }
  .checkout-btn:hover {
    margin-right: 2rem;
  }
}

@media (max-width: 325px) {
  .ironman {
    width: 150%;
    height: 50%;
    margin-bottom: 0;
  }
  .cart-img-wrapper {
    left: -8%;
  }
  .cart-glass-container {
    height: 30vh;
  }
  .cart-back-link {
    margin-right: -2rem;
  }
  .cart-total-price {
    width: 9rem;
  }
  .cart-empty {
    margin: 10rem 0 5rem 0;
  }
}

@media (max-width: 280px) {
  .cart-img-wrapper {
    position: fixed;
    left: -10%;
  }
  .cart-name-wrapper {
    margin: 0 1rem 0 0;
    justify-content: flex-end;
  }
  .cart-fullname {
    font-size: 0.9rem;
  }
  .cart-quantity-container {
    margin: 0 0.5rem 0 0;
    justify-content: flex-end;
  }
  .cart-price-wrapper {
    margin: 0 1rem 0 0;
    justify-content: flex-end;
  }
  .cart-total-price {
    font-size: 0.9rem;
    width: 8rem;
  }
  .cart-total-text {
    font-size: 0.9rem;
  }
  .cart-empty {
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
    width: 80%;
    margin: 11rem 0 5rem 0;
  }
  .cart-back-link {
    margin-right: -2.5rem;
  }
  .track-status-wrapper,
  .track-status-bar-wrapper {
    font-size: 0.7rem;
    justify-content: space-between;
  }
  .track-status-bar-wrapper {
    margin-left: 0.5rem;
  }
  .track-status-box-middle {
    margin: 0 0.5rem 0 0;
    padding-left: 30px;
    padding-right: 30px;
    width: 0;
  }
}
