.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 40vw;
  height: 35vh;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 1.5rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.5);
  border-left: 0.1rem solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(0.5rem);
  padding: 3rem;
}

.modal-container label {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

.modal-container button {
  margin: 0.5rem 14px 3rem 0;
  font-size: 0.8rem;
  color: black;
  font-weight: bolder;
  text-transform: uppercase;
  border-radius: 1rem;
  background: rgb(220, 220, 220);
  cursor: pointer;
  padding: 0.3rem;
  width: 8rem;
  border: transparent;
  z-index: 2;
}

.modal-container button:hover {
  background-color: rgb(253, 212, 132);
  color: black;
  transition: ease-in-out 0.1s;
  cursor: pointer;
  padding: 0.3rem;
}

.StripeElement {
  margin: 1rem 0;
}

@media (max-width: 375px) {
  .modal-container {
    width: 90%;
    padding: 1.25rem;
    -webkit-backdrop-filter: blur(0.5rem);
  }

  .modal-container label {
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .modal-container button {
    margin: 1rem 0.25rem;
    font-size: 0.7rem;
    padding: 0;
    height: 2rem;
  }

  .payment-btn-container {
    display: flex;
    justify-content: center;
  }
}
