@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.profile-main-container {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  position: absolute;
  overflow: hidden;
}

.profile-info-container {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  position: absolute;
  top: 40%;
  left: 40%;
}

#hud1-container {
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  position: absolute;
  left: 67%;
  top: 16%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(100px) rotateY(-10deg) rotateX(-23deg);
}
#hud1-container img {
  height: 26rem;
}

#hud4-container {
  width: 11rem;
  height: 11rem;
  overflow: hidden;
  position: absolute;
  left: 81%;
  top: 3%;
  z-index: 5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(197px) rotateY(-20deg) rotateX(-15deg);
}
#hud4-container img {
  height: 19rem;
}

#hud5-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  position: absolute;
  left: 61%;
  top: 4%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(170px) rotateY(-10deg) rotateX(-15deg);
}
#hud5-container img {
  height: 20rem;
}

#hud6-container {
  width: 50rem;
  height: 50rem;
  overflow: hidden;
  position: absolute;
  left: -26%;
  top: 10%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(500px) rotateY(40deg) rotateX(0deg);
}
#hud6-container img {
  height: 54rem;
}

#hud7-container {
  width: 17rem;
  height: 17rem;
  overflow: hidden;
  position: absolute;
  left: 9.5%;
  top: 60.5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(500px) rotateY(20deg) rotateX(40deg);
}
#hud7-container img {
  height: 25rem;
}

#hud9-container {
  width: 13rem;
  height: 30rem;
  overflow: hidden;
  position: absolute;
  left: 79.5%;
  top: 36%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hud9-container img {
  height: 28rem;
}

#hud10-container {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  position: absolute;
  left: 11%;
  top: 60%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(500px) rotateY(20deg) rotateX(40deg);
}
#hud10-container img {
  height: 30rem;
}

#hud13-container {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  position: absolute;
  left: -5.9%;
  top: 50%;
  z-index: 5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(250px) rotateY(40deg) rotateX(0deg);
}
#hud13-container img {
  height: 17.5rem;
}

#hud14-container {
  width: 14rem;
  height: 14rem;
  overflow: hidden;
  position: absolute;
  left: 79.9%;
  top: 0%;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(200px) rotateY(-10deg) rotateX(-16deg);
}
#hud14-container img {
  height: 28rem;
}
#hud14-copy-container {
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  position: absolute;
  left: 83%;
  top: 25%;
  z-index: 2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(200px) rotateY(-20deg) rotateX(-16deg);
}
#hud14-copy-container img {
  height: 12rem;
}

#hud21-container {
  width: 12rem;
  height: 12rem;
  overflow: hidden;
  position: absolute;
  left: 7%;
  top: 18%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(50px) rotateY(4deg) rotateX(0deg);
  opacity: 0.8;
}
#hud21-container img {
  height: 16rem;
}

#hud33-container {
  width: 12rem;
  height: 8rem;
  overflow: hidden;
  position: absolute;
  left: 12%;
  top: 40%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(65px) rotateY(10deg) rotateX(0deg) skew(0deg, -15deg);
  opacity: 0.8;
}
#hud33-container img {
  height: 15rem;
}

#hud34-container {
  width: 1rem;
  height: 24rem;
  overflow: hidden;
  position: absolute;
  left: 3.75%;
  top: 0%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

#hud34-container img {
  height: 24rem;
  transform: rotate(90deg);
}

#hud37-container {
  width: 7rem;
  height: 7rem;
  overflow: hidden;
  position: absolute;
  left: 15%;
  top: 68%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(200px) rotateY(20deg) rotateX(50deg);
  opacity: 0.5;
  border-radius: 50%;
}
#hud37-container img {
  height: 15rem;
}

#hud38-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  position: absolute;
  left: 20%;
  top: 30%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(100px) rotateY(30deg) rotateX(00deg);
  opacity: 0.9;
  border-radius: 50%;
  opacity: 0.9;
  border-radius: 50%;
}
#hud38-container img {
  height: 30rem;
}

#hud40-container {
  width: 12rem;
  height: 10rem;
  overflow: hidden;
  position: absolute;
  left: 7%;
  top: 4%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: perspective(80px) rotateY(7deg) rotateX(0deg) skew(0deg, 10deg);
  opacity: 0.8;
}
#hud40-container img {
  height: 10rem;
}

#hud42-container {
  width: 24rem;
  height: 10rem;
  overflow: hidden;
  position: absolute;
  left: 49%;
  top: 1%;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(100px) rotateY(-2deg) rotateX(-5deg);
  opacity: 0.8;
}
#hud42-container img {
  height: 10rem;
  width: 24rem;
}

#hud43-container {
  width: 24rem;
  height: 10rem;
  overflow: hidden;
  position: absolute;
  left: 22%;
  top: 7%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(100px) rotateY(2deg) rotateX(-2deg);
  opacity: 0.8;
}
#hud43-container img {
  height: 10rem;
  width: 24rem;
}

#hud44-container {
  width: 24rem;
  height: 15rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -1%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(86px) rotateY(-10deg) rotateX(-4deg);
  opacity: 0.9;
}

#hud44-container img {
  height: 12rem;
  width: 24rem;
}

#profile-clock {
  width: 40rem;
  height: 20rem;
  overflow: hidden;
  position: absolute;
  left: 60%;
  top: 57%;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: perspective(200px) rotateY(-17deg) rotateX(0deg);
  color: rgb(255, 255, 255);
  font-size: 6rem;
  text-align: start;
  text-shadow: 12px 0px 15px #67c7eb;
  font-family: 'Orbitron', sans-serif;
}
