@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.profile-main-container {
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  position: absolute;
  overflow: hidden;
}

.profile-info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 0.4rem;
  top: 35%;
  left: 55%;
  background-color: transparent;
  z-index: 5;
}
.profile-info-wrapper {
  transform: perspective(300px) rotateY(-20deg) skew(0deg, -4deg);
  z-index: 10;
  top: 55%;
  left: 56%;
  position: absolute;
  width: 30rem;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hud1-container {
  width: 9rem;
  height: 9rem;
  overflow: hidden;
  position: absolute;
  left: 67%;
  top: 16%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(100px) rotateY(-10deg) rotateX(-23deg);
}
#hud1-container img {
  height: 26rem;
}

#hud5-container {
  width: 20rem;
  height: 20rem;
  overflow: hidden;
  position: absolute;
  left: 61%;
  top: 4%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(170px) rotateY(-10deg) rotateX(-15deg);
}
#hud5-container img {
  height: 20rem;
}

#hud6-container {
  width: 50rem;
  height: 50rem;
  overflow: hidden;
  position: absolute;
  left: -5%;
  top: 10%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(500px) rotateY(30deg) rotateX(50deg);
  opacity: 0.6;
}
#hud6-container img {
  height: 54rem;
}

#hud9-container {
  width: 13rem;
  height: 30rem;
  overflow: hidden;
  position: absolute;
  left: 79.5%;
  top: 36%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hud9-container img {
  height: 28rem;
}

#hud10-container {
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  position: absolute;
  left: 15%;
  top: 45%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transform: perspective(500px) rotateY(30deg) rotateX(45deg);
}
#hud10-container img {
  height: 30rem;
}

#hud33-container {
  width: 18rem;
  height: 11rem;
  overflow: hidden;
  position: absolute;
  left: 05%;
  top: 20%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(65px) rotateY(7deg) rotateX(0deg);
  opacity: 0.8;
}
#hud33-container img {
  height: 20rem;
}

#hud34-container {
  width: 1rem;
  height: 24rem;
  overflow: hidden;
  position: absolute;
  left: 3.75%;
  top: 0%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

#hud34-container img {
  height: 24rem;
  transform: rotate(90deg);
}

#hud40-container {
  width: 12rem;
  height: 10rem;
  overflow: hidden;
  position: absolute;
  left: 7%;
  top: 4%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: perspective(80px) rotateY(7deg) rotateX(0deg) skew(0deg, 10deg);
  opacity: 0.8;
}
#hud40-container img {
  height: 10rem;
}

#hud42-container {
  width: 24rem;
  height: 10rem;
  overflow: hidden;
  position: absolute;
  left: 49%;
  top: 1%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(100px) rotateY(-2deg) rotateX(-5deg);
  opacity: 0.8;
}
#hud42-container img {
  height: 10rem;
  width: 24rem;
}

#hud43-container {
  width: 24rem;
  height: 10rem;
  overflow: hidden;
  position: absolute;
  left: 22%;
  top: 7%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(100px) rotateY(2deg) rotateX(-2deg);
  opacity: 0.8;
}
#hud43-container img {
  height: 10rem;
  width: 24rem;
}

#hud44-container {
  width: 24rem;
  height: 15rem;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: -1%;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: perspective(86px) rotateY(-10deg) rotateX(-4deg);
  opacity: 0.9;
}

#hud44-container img {
  height: 12rem;
  width: 24rem;
}

#profile-clock {
  width: 40rem;
  height: 20rem;
  overflow: hidden;
  position: absolute;
  left: 55%;
  top: 57%;
  z-index: 4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transform: perspective(300px) rotateY(-17deg) rotateX(0deg);
  color: rgb(255, 255, 255);
  font-size: 6rem;
  text-align: start;
  text-shadow: 12px 0px 15px #67c7eb;
  font-family: 'Orbitron', sans-serif;
}

.jarvis-msg-container {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 30%;
  height: 10rem;
  width: 24rem;
  z-index: 3;
}

.jarvis-word-box {
  height: 20rem;
  width: 35rem;
  position: absolute;
  top: -95%;
  left: -30%;
  transform: perspective(800px) rotateY(180deg) rotateX(-0deg);
  opacity: 0.3;
}

.jarvis-msg {
  z-index: 5;
  top: -60%;
  position: absolute;
  width: 20rem;
  left: 15%;
}
